<%- include("header") -%>

    <h2>This is a About page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam soluta pariatur deleniti molestias necessitatibus
        modi
        aliquam quo exercitationem ipsum aliquid.</p>

    <%- include("footer") -%>